<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Just take a selfie. ISP will then play the right song for your musical taste, mood and environment. Try now! 🎶">

    {{!-- Max. 95 chars --}}
    <meta property="og:title" content="ISP - intelligent song picker">
    {{!-- Should encourage to click; no keywords; Max. 297 chars! --}}
    <meta property="og:description" content="Not in the mood for endless choice? All you have to do is take a selfie. ISP will then play the right song for your musical taste, mood and environment."> 
    {{!-- min. 1200 x 630 pixel with an aspect-ratio of 1,91:1 --}}
    <meta property="og:image" content="img/spotify-top-75-album-covers-2020.jpg">
    <meta property="og:url" content="https://intelligent-song-picker.com"> 
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">

    <title>{{ title }}</title>
     
    <link rel="canonical" href="https://intelligent-song-picker.com/">
    <link rel="icon" type="image/png" href="img/icon.32.png" sizes="32x32">
    
    <link rel="dns-prefetch" href="//matomo.florian-kapaun.de">
</head>
<body>
    
    <div id="app">
        {{!-- Will be removed if vue app has loaded --}}
        <main class="fullscreen-background_wrapper">
            <div class="loading-animation">
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <p class="text-xs color-ink_light mt2">Loading</p>
            </div>
        </main>
    </div>
</body>
</html>