<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <button type="button" id="login">Login to spotify</button>
    <a href="/login">Login link</a>
    <div class="canvas-wrapper">
        <canvas id="output"></canvas>
        <video id="video" playsinline></video>
    </div>
</body>
</html>