* { box-sizing: border-box; }

:root {
    font-size: 115%;
    --green: #1db954;
    --green_hover: #1ED760;
    --paper: #131313;
    --ink: #ffffff;
    --faded: #888;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "ss01" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal; 
    letter-spacing: 0.015em; 
    word-spacing: 0.001em; 
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */ 
    -moz-osx-font-smoothing: grayscale; /* Firefox */ 
    color: var(--ink);
    background-color: var(--paper);
}

button {
    font-family: inherit;
    font-size: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.7rem 1.5rem 0.75rem;
    background-color: var(--green);
    color: var(--ink);
    border: none;
    border-radius: 5em;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

a:hover > button,
a:focus > button,
button:hover,
button:focus {
    background-color: var(--green_hover);
}

.max-width {
    width: 100%;
    max-width: 40ch;
    margin-left: auto;
    margin-right: auto;
}

.icon-spotify {
    display: inline-block;
    width: 100%;
    max-width: 1.5em;
    height: auto;
    fill: var(--ink);
    margin-right: 0.6em;
}

.fine-print {
    font-size: 0.6rem;
    color: var(--faded);
}

.text-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.no-decoration {
    text-decoration: none;
}

.canvas-wrapper {
    position: relative;
}

#video {
    display: none;
}