.flex { display: flex; }

.flex-row { flex-direction: row; }

.justify-between { justify-content: space-between; }

.inline-block { display: inline-block; }

.hidden { display: none; }

.text-xs { font-size: var(--font-size_xs); }

.text-m { font-size: var(--font-size_m); }

.no-decoration { text-decoration: none; }

.color-ink_light { color: var(--ink_light); }

.m4 { margin: 1.6rem;}

.mt1 { margin-top: 0.4rem;}

.mt2 { margin-top: 0.8rem;}

.mb3 { margin-bottom: 1.2rem; }

.mb4 { margin-bottom: 1.6rem; }

.mb8 { margin-bottom: 3.2rem; }

.p0 { padding: 0; }

.p4 { padding: 1.6rem; }

.p6 { padding: 2.4rem; }